.fieldlabel_mandatory::after {
    content : '*';
    color: #FF0000;
}

.border-left-col{
    border-radius: 5px;
    border: 1px solid #DDD !important;
    border-left: 5px solid orange !important;
}
